<div class="content">
  <h1 class="heading">Gallery</h1>
  <main class="main-container">
    <mat-card class="gallery-container">
      <div class="img-container">
        <img
          src="{{ currentPicture.src }}"
          alt="{{ currentPicture.title }}"
          class="main-img scale-{{ currentScale }}"
        />
      </div>
      <mat-divider class="divider"></mat-divider>
      <div class="btn-container">
        <button
          mat-raised-button
          color="primary"
          *ngIf="pictureList[0].id !== currentPicture.id"
          (click)="handlePreviousPic()"
        >
          Previous
        </button>
        <button
          mat-raised-button
          color="primary"
          disabled
          *ngIf="pictureList[0].id === currentPicture.id"
        >
          Previous
        </button>
        <button
          mat-raised-button
          color="primary"
          *ngIf="pictureList[pictureList.length - 1].id !== currentPicture.id"
          (click)="handleNextPic()"
        >
          Next
        </button>
        <button
          mat-raised-button
          color="primary"
          disabled
          *ngIf="pictureList[pictureList.length - 1].id === currentPicture.id"
        >
          Next
        </button>
        <button
          mat-raised-button
          color="basic"
          *ngIf="currentScale < 5"
          (click)="handleZoomIn()"
        >
          Zoom in
        </button>
        <button mat-raised-button disabled *ngIf="currentScale === 5">
          Zoom in
        </button>
        <button
          mat-raised-button
          color="basic"
          *ngIf="currentScale > 1"
          (click)="handleZoomOut()"
        >
          Zoom out
        </button>
        <button
          mat-raised-button
          color="basic"
          disabled
          *ngIf="currentScale === 1"
        >
          Zoom out
        </button>
        <button
          mat-raised-button
          color="warn"
          *ngIf="!isPlayingGallery"
          (click)="handlePlayGallery()"
        >
          Play
        </button>
        <button
          mat-raised-button
          color="warn"
          *ngIf="isPlayingGallery"
          (click)="handlePlayGallery()"
        >
          Stop
        </button>
      </div>
      <mat-divider class="divider"></mat-divider>
      <div class="img-gallery-container">
        <button
          mat-raised-button
          color="primary"
          class="pag-btn"
          (click)="setPictureListPagination('rest')"
        >
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <div
          class="{{
            currentPicture.id === picture.id
              ? 'pag-img-container selected-img'
              : 'pag-img-container'
          }}"
          *ngFor="
            let picture of pictureList
              | slice: fistPaginationItem:lastPaginationItem
          "
        >
          <!-- The line below can replace slice pipe above -->
          <!-- *ngFor="let picture of pictureListPagination" -->
          <img
            src="{{ picture.src }}"
            alt="{{ picture.title }}"
            class="pag-img"
            (click)="setCurrentPicture(picture)"
          />
        </div>
        <button
          mat-raised-button
          color="primary"
          class="pag-btn"
          (click)="setPictureListPagination('sum')"
        >
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </mat-card>
  </main>
</div>
