.list {
  display: flex;
  justify-content: space-between;
  width: max-content;
  margin: 0;
  list-style: none;
}

li {
  margin-right: 15px;
  &:last-of-type {
    margin-right: 0;
  }
}

.selected {
  background-color: #f37d93;
}

a {
  &:hover {
    background-color: #fff;
  }
}
